.true-false{
    font-size: xx-large;
}

.question-mark{
    font-size: x-large;
}

.input-box{
    border: solid 0.1rem #FFFFFF;
}

.modeButton{
    font-size: large;
}

.notes{
    font-size: large;
}

@media only screen and (max-width: 600px){
    .true-false{
        margin: 1rem;
        font-size: medium;
    }
    .modeButton{
        font-size: medium;
    }
    .notes{
        font-size: medium;
    }
}