.question-mark{
    font-size: x-large;
}

.input-box{
    border: solid 0.1rem #FFFFFF;
}

.notes{
    font-size: large;
}

.chance-box{
    font-size: x-large;
}

@media only screen and (max-width: 600px){
    .notes{
        font-size: medium;
    }
    .chance-box{
        font-size: medium;
    }
}